üìÄ Zadanie: najlepiej sprzedajƒÖce siƒô albumy wszechczas√≥w

In [1]:
# Kom√≥rka 1 ‚Äì import bibliotek
import pandas as pd
import requests
from io import StringIO

print("Biblioteki zaimportowane.")

Biblioteki zaimportowane.

W tej kom√≥rce importujemy niezbƒôdne biblioteki:
- **pandas** ‚Äì do analizy danych,
- **requests** ‚Äì do pobrania strony z nag≈Ç√≥wkami,
- **StringIO** ‚Äì do przekszta≈Çcenia tekstu strony w obiekt plikopodobny.

In [2]:
# Kom√≥rka 2 ‚Äì pobranie danych ze strony z odpowiednim nag≈Ç√≥wkiem (unikanie b≈Çƒôdu 403)
url = 'https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
print(f"Kod odpowiedzi: {response.status_code}")

# Je≈õli strona zosta≈Ça pobrana poprawnie, wczytujemy tabele
if response.status_code == 200:
    tabele = pd.read_html(StringIO(response.text), header=0)
    print(f"Liczba znalezionych tabel: {len(tabele)}")
else:
    print("Nie uda≈Ço siƒô pobraƒá strony. Sprawd≈∫ po≈ÇƒÖczenie lub u≈ºyj alternatywnej metody.")

Kod odpowiedzi: 200
Liczba znalezionych tabel: 1

Tutaj pobieramy zawarto≈õƒá strony internetowej. Dodajemy nag≈Ç√≥wek `User-Agent`, aby serwer nie zablokowa≈Ç ≈ºƒÖdania.  
Funkcja `pd.read_html` wyciƒÖga wszystkie tabele HTML ‚Äì wynikiem jest lista.

In [3]:
# Kom√≥rka 3 ‚Äì wyb√≥r w≈Ça≈õciwej tabeli i pierwszy podglƒÖd
# Na podstawie analizy strony interesujƒÖca nas tabela ma indeks 0 (zawiera kolumny POS, TITLE, ARTIST, YEAR, HIGH POSN)
df = tabele[0]
print("Pierwsze 5 wierszy tabeli z albumami:")
df.head()

Pierwsze 5 wierszy tabeli z albumami:

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

Wybieramy pierwszƒÖ tabelƒô z listy (indeks 0). Za pomocƒÖ `head()` podglƒÖdamy kilka pierwszych wierszy, aby upewniƒá siƒô, ≈ºe dane sƒÖ poprawne.

Krok 2: Przygotowanie danych (transformacje zgodne z zadaniem)

In [4]:
# Kom√≥rka 4 ‚Äì zamiana nag≈Ç√≥wk√≥w na polskie odpowiedniki
df.columns = ['POZ', 'TYTU≈Å', 'ARTYSTA', 'ROK', 'MAX POZ']
print("Nag≈Ç√≥wki po zmianie na polskie:")
df.columns.tolist()

Nag≈Ç√≥wki po zmianie na polskie:

['POZ', 'TYTU≈Å', 'ARTYSTA', 'ROK', 'MAX POZ']

Zgodnie z poleceniem zmieniamy nazwy kolumn na:
- `POZ` (zamiast POS),
- `TYTU≈Å` (zamiast TITLE),
- `ARTYSTA` (zamiast ARTIST),
- `ROK` (zamiast YEAR),
- `MAX POZ` (zamiast HIGH POSN).

In [5]:
# Kom√≥rka 5 ‚Äì liczba pojedynczych artyst√≥w
liczba_artystow = df['ARTYSTA'].nunique()
print(f"Liczba pojedynczych artyst√≥w/zespo≈Ç√≥w na li≈õcie: {liczba_artystow}")

Liczba pojedynczych artyst√≥w/zespo≈Ç√≥w na li≈õcie: 47

U≈ºywamy metody `nunique()`, aby policzyƒá unikalnych wykonawc√≥w.

In [6]:
# Kom√≥rka 6 ‚Äì najczƒô≈õciej pojawiajƒÖce siƒô zespo≈Çy
top_artysci = df['ARTYSTA'].value_counts().head(5)
print("Zespo≈Çy/arty≈õci pojawiajƒÖcy siƒô najczƒô≈õciej na li≈õcie (top 5):")
top_artysci

Zespo≈Çy/arty≈õci pojawiajƒÖcy siƒô najczƒô≈õciej na li≈õcie (top 5):

ARTYSTA
TAKE THAT          3
COLDPLAY           3
QUEEN              2
ADELE              2
MICHAEL JACKSON    2
Name: count, dtype: int64

`value_counts()` zlicza wystƒÖpienia ka≈ºdego artysty. Wy≈õwietlamy 5 najczƒôstszych.

In [7]:
# Kom√≥rka 7 ‚Äì zmiana nag≈Ç√≥wk√≥w na format tytu≈Çowy (ka≈ºde s≈Çowo z du≈ºej litery)
df.columns = df.columns.str.title()
print("Nag≈Ç√≥wki po zmianie na format tytu≈Çowy:")
df.columns.tolist()

Nag≈Ç√≥wki po zmianie na format tytu≈Çowy:

['Poz', 'Tytu≈Ç', 'Artysta', 'Rok', 'Max Poz']

Za pomocƒÖ `str.title()` przekszta≈Çcamy nazwy kolumn tak, by ka≈ºde s≈Çowo zaczyna≈Ço siƒô wielkƒÖ literƒÖ.  
Przyk≈Çad: `MAX POZ` ‚Üí `Max Poz`, `TYTU≈Å` ‚Üí `Tytu≈Ç` (niestety polskie znaki mogƒÖ byƒá pominiƒôte, ale tak dzia≈Ça to polecenie).

In [8]:
# Kom√≥rka 8 ‚Äì usuniƒôcie kolumny 'Max Poz'
df = df.drop(columns=['Max Poz'])
print("Kolumny po usuniƒôciu 'Max Poz':")
df.columns.tolist()

Kolumny po usuniƒôciu 'Max Poz':

['Poz', 'Tytu≈Ç', 'Artysta', 'Rok']

Pozbywamy siƒô kolumny `Max Poz` zgodnie z tre≈õciƒÖ zadania.

In [9]:
# Kom√≥rka 9 ‚Äì rok z najwiƒôkszƒÖ liczbƒÖ album√≥w
rok_najwiecej = df['Rok'].value_counts().idxmax()
ilosc_w_roku = df['Rok'].value_counts().max()
print(f"Najwiƒôcej album√≥w ({ilosc_w_roku}) wydano w roku: {rok_najwiecej}.")

Najwiƒôcej album√≥w (4) wydano w roku: 1987.

`value_counts()` na kolumnie `Rok` pokazuje, ile album√≥w pochodzi z danego roku. `idxmax()` zwraca rok z maksymalnƒÖ liczbƒÖ, a `max()` ‚Äì tƒô liczbƒô.

In [10]:
# Kom√≥rka 10 ‚Äì liczba album√≥w wydanych miƒôdzy 1960 a 1990 (w≈ÇƒÖcznie)
albumy_1960_1990 = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]
print(f"Liczba album√≥w wydanych w latach 1960-1990: {len(albumy_1960_1990)}")

Liczba album√≥w wydanych w latach 1960-1990: 22

Filtrujemy wiersze, w kt√≥rych rok jest z ≈ºƒÖdanego zakresu, a nastƒôpnie liczymy je funkcjƒÖ `len()`.

In [11]:
# Kom√≥rka 11 ‚Äì najm≈Çodszy album (najp√≥≈∫niejszy rok)
najmlodszy_rok = df['Rok'].max()
print(f"Najm≈Çodszy album (o najp√≥≈∫niejszym roku wydania) pochodzi z: {najmlodszy_rok}.")

Najm≈Çodszy album (o najp√≥≈∫niejszym roku wydania) pochodzi z: 2015.

`max()` na kolumnie `Rok` daje najwiƒôkszƒÖ warto≈õƒá, czyli najp√≥≈∫niejszy rok wydania.

In [12]:
# Kom√≥rka 12 ‚Äì lista najwcze≈õniej wydanych album√≥w ka≈ºdego artysty
# Dla ka≈ºdego artysty znajdujemy wiersz z minimalnym rokiem
najwczesniejsze = df.loc[df.groupby('Artysta')['Rok'].idxmin()]
# Sortujemy alfabetycznie wed≈Çug artysty
najwczesniejsze = najwczesniejsze.sort_values('Artysta')
print("Najwcze≈õniej wydane albumy ka≈ºdego artysty (pierwsze 10 wierszy):")
najwczesniejsze.head(10)

Najwcze≈õniej wydane albumy ka≈ºdego artysty (pierwsze 10 wierszy):

    Poz                                 Tytu≈Ç                   Artysta   Rok
45   46                         GREATEST HITS                      ABBA  1975
3     4                                    21                     ADELE  2011
40   41                    JAGGED LITTLE PILL         ALANIS MORISSETTE  1995
12   13                         BACK TO BLACK             AMY WINEHOUSE  2006
2     3  SGT PEPPER'S LONELY HEARTS CLUB BAND                   BEATLES  1967
15   16                                LEGEND  BOB MARLEY & THE WAILERS  1984
44   45                            PARACHUTES                  COLDPLAY  2000
27   28                       TALK ON CORNERS                     CORRS  1997
25   26                          WHITE LADDER                DAVID GRAY  1998
24   25                              NO ANGEL                      DIDO  2000

Grupujemy dane po kolumnie `Artysta`, dla ka≈ºdej grupy znajdujemy indeks wiersza z minimalnym rokiem (`idxmin()`), a nastƒôpnie wybieramy te wiersze z oryginalnego DataFrame. Wynik sortujemy alfabetycznie.

Krok 3: Eksport wynik√≥w

In [14]:
# Kom√≥rka 13 ‚Äì zapis listy do pliku CSV
najwczesniejsze.to_csv('najwczesniejsze_albumy.csv', index=False)
print("Plik 'najwczesniejsze_albumy.csv' zosta≈Ç zapisany w bie≈ºƒÖcym katalogu.")

# Pobranie pliku na komputer (tylko w Colab)
try:
    from google.colab import files
    files.download('najwczesniejsze_albumy.csv')
    print("Plik zosta≈Ç pobrany na Tw√≥j komputer.")
except ImportError:
    print("Je≈õli pracujesz lokalnie, plik znajduje siƒô w bie≈ºƒÖcym katalogu.")

Plik 'najwczesniejsze_albumy.csv' zosta≈Ç zapisany w bie≈ºƒÖcym katalogu.

Plik zosta≈Ç pobrany na Tw√≥j komputer.

Zapisujemy DataFrame do pliku CSV bez indeksu. Je≈õli pracujemy w Google Colab, dodatkowo pobieramy plik na lokalny komputer.